body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
}

header {
    width: 100%;
    height: 800px;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    margin: 0 0 100px;
}

header img {
    width: 100%;
}

/* Jak se do pozaji obrazky, co nejsou online */
.project001 header img {
    background-image: url(assets/01n-bar-viz.png);
}

.project002 header img {
    background-image: url(assets/02i-viz.png);
}

h1 {
    position: absolute;
    bottom: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #222;
    margin-top: 65%;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin: 40px 0 10px;
}

h3 {
    font-size: 25px;
}

p {
    /* font-family: 'Oswald', sans-serif; */
}

section {
    display: flex;
    padding: 30px 30px 100px;
}

.small-part {
    background-color: white;
    width: 30%;
    height: auto;
}

.small-part img {
    width: 100%;
}

.right {
    padding-left: 30px;
}

.large-part {
    background-color: white;
    width: 70%;
    height: auto;
}

.large-part img {
    width: 100%;
}

section h2:first-child {
    width: 100%;
    border-top: 5px solid black;
    padding-top: 20px;
    margin: 0;
}

b {
    text-transform: uppercase;
    opacity: 90%;
}

.project001 section {
    border-top: 5px solid moccasin;
}

.project001 section h2 {
    border-color: rgb(181, 172, 172);
}

.project001 .colored-text {
    color: peru;
}

.project002 section {
    border-top: 5px solid chocolate;
}

.project002 section h2 {
    border-color: rgb(181, 172, 172);
}

.project002 .colored-text {
    color: chocolate;
}

.card-holder {
    display: flex;
    justify-content: space-between;
}

.b {
    padding-top: 20px;
    margin-left: 20px;
}

.card img {
    width: 100%;
}