body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
}

header {
    width: 100%;
    /* height: auto; */
    height: 800px;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    background-position-y: 50%;
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
}

/* header .image {
    max-width: 100%;
    min-height: max-content;
}

#photo {
    width: 100%;
} */

.arrow {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(205,205,205,0.6));
    background-color: transparent;
    border-width: 0;
    height: 755px;
    width: 200px;
    position: absolute;
}

button {
    cursor: pointer;
}

header .left {
    top: 45px;
    left: 0;
}

header .right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 45px;
    right: 0;
}

ul {
    /* position: absolute;
    top: 0; */
    background-color: rgba(5, 5, 5, 0.3);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.dropdown {
    float: right;
    /* right: 0; */
}

li a {
    display: block;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(5, 5, 5, 0.5);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(5, 5, 5, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(5, 5, 5, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #222;
    margin: 10px 20px 20px;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin: 40px 0 10px;
}

h3 {
    font-size: 25px;
}

p {
    /* font-family: 'Oswald', sans-serif; */
}